cygnet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

  <!-- Root element for the Cygnet lexical resource -->
  <xs:element name="CygnetResource">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ConceptLayer" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="LexemeLayer" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="SenseLayer" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="GlossLayer" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="ExampleLayer" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="SenseRelationLayer" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="ConceptRelationLayer" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <!-- Metadata attributes -->
      <xs:attribute name="id" type="xs:ID" use="required"/>
      <xs:attribute name="label" type="xs:string" use="required"/>
      <xs:attribute name="version" type="xs:string" use="required"/>
    </xs:complexType>

    <!-- Key definitions for typed references -->

    <!-- Concept keys -->
    <xs:key name="ConceptKey">
      <xs:selector xpath="ConceptLayer/Concept"/>
      <xs:field xpath="@id"/>
    </xs:key>

    <!-- Lexeme keys -->
    <xs:key name="LexemeKey">
      <xs:selector xpath="LexemeLayer/Lexeme"/>
      <xs:field xpath="@id"/>
    </xs:key>

    <!-- Sense keys -->
    <xs:key name="SenseKey">
      <xs:selector xpath="SenseLayer/Sense"/>
      <xs:field xpath="@id"/>
    </xs:key>

    <!-- Keyref: Sense.signifier must reference a Lexeme -->
    <xs:keyref name="SenseSignifierRef" refer="LexemeKey">
      <xs:selector xpath="SenseLayer/Sense"/>
      <xs:field xpath="@signifier"/>
    </xs:keyref>

    <!-- Keyref: Sense.signified must reference a Concept -->
    <xs:keyref name="SenseSignifiedRef" refer="ConceptKey">
      <xs:selector xpath="SenseLayer/Sense"/>
      <xs:field xpath="@signified"/>
    </xs:keyref>

    <!-- Keyref: Gloss.definiendum must reference a Concept -->
    <xs:keyref name="GlossDefiniendumRef" refer="ConceptKey">
      <xs:selector xpath="GlossLayer/Gloss"/>
      <xs:field xpath="@definiendum"/>
    </xs:keyref>

    <!-- Keyref: Gloss AnnotatedToken.sense must reference a Sense -->
    <xs:keyref name="GlossAnnotatedTokenSenseRef" refer="SenseKey">
      <xs:selector xpath="GlossLayer/Gloss/AnnotatedSentence/AnnotatedToken"/>
      <xs:field xpath="@sense"/>
    </xs:keyref>

    <!-- Keyref: Example AnnotatedToken.sense must reference a Sense -->
    <xs:keyref name="ExampleAnnotatedTokenSenseRef" refer="SenseKey">
      <xs:selector xpath="ExampleLayer/Example/AnnotatedSentence/AnnotatedToken"/>
      <xs:field xpath="@sense"/>
    </xs:keyref>

    <!-- Keyref: SenseRelation source/target must reference Senses -->
    <xs:keyref name="SenseRelationSourceRef" refer="SenseKey">
      <xs:selector xpath="SenseRelationLayer/SenseRelation"/>
      <xs:field xpath="@source"/>
    </xs:keyref>

    <xs:keyref name="SenseRelationTargetRef" refer="SenseKey">
      <xs:selector xpath="SenseRelationLayer/SenseRelation"/>
      <xs:field xpath="@target"/>
    </xs:keyref>

    <!-- Keyref: ConceptRelation source/target must reference Concepts -->
    <xs:keyref name="ConceptRelationSourceRef" refer="ConceptKey">
      <xs:selector xpath="ConceptRelationLayer/ConceptRelation"/>
      <xs:field xpath="@source"/>
    </xs:keyref>

    <xs:keyref name="ConceptRelationTargetRef" refer="ConceptKey">
      <xs:selector xpath="ConceptRelationLayer/ConceptRelation"/>
      <xs:field xpath="@target"/>
    </xs:keyref>

  </xs:element>

  <!-- Provenance: Provenance tracking element -->
  <xs:element name="Provenance">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Provenance" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="resource" type="xs:string" use="required"/>
      <xs:attribute name="original_id" type="xs:string" use="optional"/>
      <xs:attribute name="version" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>

  <!-- SenseRelationType -->
  <xs:simpleType name="SenseRelationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="antonym"/>
      <xs:enumeration value="derivation"/>
      <xs:enumeration value="pertainym"/>
      <xs:enumeration value="participle"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ConceptRelationType -->
  <xs:simpleType name="ConceptRelationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="class_hypernym"/>
      <xs:enumeration value="instance_hypernym"/>
      <xs:enumeration value="member_meronym"/>
      <xs:enumeration value="part_meronym"/>
      <xs:enumeration value="substance_meronym"/>
      <xs:enumeration value="opposite"/>
      <xs:enumeration value="causes"/>
      <xs:enumeration value="entails"/>
      <xs:enumeration value="agent_of_action"/>
      <xs:enumeration value="patient_of_action"/>
      <xs:enumeration value="result_of_action"/>
      <xs:enumeration value="instrument_of_agent"/>
      <xs:enumeration value="instrument_of_action"/>
      <xs:enumeration value="result_of_agent"/>
      <xs:enumeration value="patient_of_agent"/>
      <xs:enumeration value="instrument_of_patient"/>
      <xs:enumeration value="instrument_of_result"/>
      <xs:enumeration value="patient_of_result"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- POS -->
  <xs:simpleType name="CategoryType">
  <xs:restriction base="xs:string">
    <xs:enumeration value="NOUN"/>
    <xs:enumeration value="VERB"/>
    <xs:enumeration value="ADJ"/>
    <xs:enumeration value="ADV"/>
    <xs:enumeration value="CONJ"/>
    <xs:enumeration value="ADP"/>
    <xs:enumeration value="NREF"/>
    <xs:enumeration value="UNK"/>
  </xs:restriction>
</xs:simpleType>

  <!-- Concept Layer: Contains all concept entries -->
  <xs:element name="ConceptLayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Concept" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Concept: Represents an abstract concept with ontological category -->
  <xs:element name="Concept">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Provenance" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID" use="required"/>
      <xs:attribute name="ontological_category" type="CategoryType" use="required"/>
      <xs:attribute name="status" type="xs:integer" use="optional" default="1"/>
      <xs:attribute name="superseded_by" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>

  <!-- Abstract Tag element - serves as substitution group head -->
  <xs:element name="Tag" abstract="true"/>

  <!-- Script: Writing system tag -->
  <xs:element name="Script" substitutionGroup="Tag">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string"/>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <!-- Pronunciation: Pronunciation tag with optional variety -->
  <xs:element name="Pronunciation" substitutionGroup="Tag">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="variety" type="xs:string" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <!-- Wordform: Represents a wordform with optional tags -->
  <xs:element name="Wordform">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Tag" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="form" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <!-- Lexeme Layer: Contains all lexeme entries -->
  <xs:element name="LexemeLayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Lexeme" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Lexeme: Represents a lexeme with one or more wordforms (first is lemma, rest are variants) -->
  <xs:element name="Lexeme">
    <xs:complexType>
      <xs:sequence>
        <!-- At least one Wordform required (first is lemma, rest are variants) -->
        <xs:element ref="Wordform" minOccurs="1" maxOccurs="unbounded"/>
        <xs:element ref="Provenance" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID" use="required"/>
      <xs:attribute name="language" type="xs:string" use="required"/>
      <xs:attribute name="grammatical_category" type="CategoryType" use="required"/>
    </xs:complexType>
  </xs:element>

  <!-- Sense Layer: Contains all sense entries -->
  <!-- SenseLayer depends on ConceptLayer and LexemeLayer -->
  <xs:element name="SenseLayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Sense" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <!-- Dependencies: Sense links Lexemes to Concepts -->
      <xs:attribute name="requires_concept_layer" type="xs:string" use="optional"/>
      <xs:attribute name="requires_lexeme_layer" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>

  <!-- Sense: Represents a word sense, linking lexemes to concepts -->
  <!-- The signifier attribute references a Lexeme -->
  <!-- The signified attribute references a Concept -->
  <xs:element name="Sense">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Provenance" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID" use="required"/>
      <xs:attribute name="signifier" type="xs:string" use="required"/>
      <xs:attribute name="signified" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <!-- Gloss Layer: Contains all gloss/definition entries -->
  <!-- GlossLayer depends on ConceptLayer -->
  <xs:element name="GlossLayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Gloss" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <!-- Dependencies: Gloss provides definitions for Concepts -->
      <xs:attribute name="requires_concept_layer" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>

  <!-- Gloss: Provides definitions for concepts -->
  <!-- The definiendum attribute references a Concept -->
  <xs:element name="Gloss">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="AnnotatedSentence" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="Provenance" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="definiendum" type="xs:string" use="required"/>
      <xs:attribute name="language" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <!-- Example Layer: Contains usage examples -->
  <!-- ExampleLayer depends on SenseLayer (and transitively on Lexeme and Concept) -->
  <xs:element name="ExampleLayer">
     <xs:complexType>
       <xs:sequence>
         <xs:element ref="Example" minOccurs="0" maxOccurs="unbounded"/>
       </xs:sequence>
       <xs:attribute name="requires_sense_layer" type="xs:string" use="optional"/>
     </xs:complexType>
   </xs:element>

  <!-- Example: Usage example with inline annotated tokens -->
  <!-- Contains mixed content: text with embedded AnnotatedToken elements -->
  <xs:element name="Example">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="AnnotatedSentence" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="Provenance" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- AnnotatedSentence: Container for annotated tokens in examples and glosses -->
  <xs:element name="AnnotatedSentence">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="AnnotatedToken"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <!-- AnnotatedToken: Marks a word or phrase in an example or gloss that references a sense -->
  <xs:element name="AnnotatedToken">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="sense" type="xs:string" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <!-- SenseRelation Layer: Contains relationships between senses -->
  <!-- SenseRelationLayer depends on SenseLayer -->
  <xs:element name="SenseRelationLayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="SenseRelation" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <!-- Dependencies: Relations connect Senses -->
      <xs:attribute name="requires_sense_layer" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>

  <!-- SenseRelation: Represents a relation between two senses -->
  <!-- Source and target both reference Sense entries -->
  <xs:element name="SenseRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Provenance" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="relation_type" type="SenseRelationType" use="required"/>
      <xs:attribute name="source" type="xs:string" use="required"/>
      <xs:attribute name="target" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <!-- ConceptRelation Layer: Contains relationships between concepts -->
  <!-- ConceptRelationLayer depends on ConceptLayer -->
  <xs:element name="ConceptRelationLayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ConceptRelation" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <!-- Dependencies: Relations connect Concepts -->
      <xs:attribute name="requires_concept_layer" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>

  <!-- ConceptRelation: Represents a relation between two concepts -->
  <!-- Source and target both reference Concept entries -->
  <xs:element name="ConceptRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Provenance" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="relation_type" type="ConceptRelationType" use="required"/>
      <xs:attribute name="source" type="xs:string" use="required"/>
      <xs:attribute name="target" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
